//<МИКСИНЫ>===============================================================================================
@import "ui/_mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "ui/_fonts";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Poppins", sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1210;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 576.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "ui/_null";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  &.lock {
    overflow: hidden;
  }
}
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  &.loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================
/*.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}*/
.overlay {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.75;
  }
}
.scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include anim(0.7s, 0s);
  z-index: 11;
}
.section {
  text-align: center;
  padding: 50px 0;

  @media (min-width: $md2+px) {
    padding: 100px 0;
  }
  @media (min-width: 1400px) {
    padding: 185px 0;
  }
}
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: $md2+px) {
    max-width: 970px;
  }
  @media (max-width: $md3+px) {
    max-width: 750px;
  }
  @media (max-width: $md4+px) {
    max-width: none;
    padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

@import "_vars";
@import "ui/_ui";
@import "ui/_forms";
@import "ui/_btn";
@import "blocks/_slick";
@import "blocks/_title";
@import "blocks/_social";

@import "blocks/_header";
@import "blocks/_main-slider";
@import "blocks/_wellcom";
@import "blocks/_feature";
@import "blocks/_about";
@import "blocks/_delivary";
@import "blocks/_maindish";
@import "blocks/_stuff";
@import "blocks/_video";
@import "blocks/_feedback";
@import "blocks/_subscribe";
@import "blocks/_blog";
@import "blocks/_contact";
@import "blocks/_sent";

@import "blocks/_footer";
@import "ui/_popup";
