.social {
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__item {
		font-size: 16px;
		margin-right: 10px;
		color: #808080;
		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		color: #fff;
		background-color: #808080;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		border-radius: 5px;
		font-size: 10px;
		font-weight: 400;
		line-height: 28px;
		@include anim(0.3s, 0s);
		&:hover {
			background-color: #00c5d2;
		}
	}
}
